@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body{
    font-family:'Lora', serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: rgb(215, 235, 241);
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;

}

ul{
    margin: 0;
    padding: 0;
}

.btn-1{
    height: 38px;
    background-color:darkcyan;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.light, .dark{
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.light{
    background-color: black;
    color: white;
    font-style: italic;
}

.dark{
    background-color:rgb(176, 233, 233);
    color:black;
}

header{
    background-color: rgb(176, 233, 233);
    colorb: black;
    min-height: 70px;
    border-bottom: 3px solid rgb(61, 202, 202);
    padding: 5px 0;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header ul{
    height: 100%;
    display: flex;
    align-items: center;
}

header li{
    list-style: none;
    padding: 0 20px;
}

header a{
    color: rgb(6, 60, 85);
    text-decoration:none;
    text-transform: uppercase;
    font-size: 18px;
}

header .highlight, #current a{
color: rgb(54, 192, 192);
font-weight: bold;
}
header a:hover{
    color: rgb(54, 192, 192);
    font-weight: bold;
}

#showcase{
    min-height: 400px;
    background-image: url(lily-banse-eoGS8SXcfCA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    text-align:center ;
    color:black;
    font-weight: bold;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 55px;
}

#showcase p{
    font-size: 25px;
}

#newsletter{
    background-color: rgb(176, 233, 233);
    padding: 15px;
    color: black;
}

#newsletter .container{
    display: flex ;
    justify-content: space-between;
    align-items:center;
}

#newsletter input{
    padding: 5px;
    height: 25px;
    width: 250px;
}

#boxes{
    margin-top: 20px;
}

#boxes .container{
    display: flex;
    justify-content: space-evenly;
}

#boxes .container .box{
    width: 30%;
    text-align: center;
    padding: 10px;
}

#boxes .box i{
    font-size: 150px;
    margin: auto;
    color: rgb(54, 192, 192);

}