@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body{
    font-family:'Lora', serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: rgb(215, 235, 241);
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;

}

ul{
    margin: 0;
    padding: 0;
}

.btn-1{
    height: 38px;
    background-color:darkcyan;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.light, .dark{
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.light{
    background-color: black;
    color: white;
}

.dark{
    background-color:rgb(176, 233, 233);
    color:black;
}