.flip-containere{
    margin: 50px;
    perspective: 1000;
    display: inline-block;
    
}

    .flip-container:hover .card{
        transform: rotateY(180deg);
    }
    .card, .front, .back {
        width: 130px;
        height: 195px;
        text-align: center;
        
}

.card{
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back{
    background-attachment: hidden;
    position: absolute;
   


}

.front{
    z-index: 1;
    transform:rotate(180deg);
    border:black solid;
}


